<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
    <h4 ng-if="!$ctrl.isEdit" style="float: left;">创建交付环境</h4>
    <h4 ng-if="$ctrl.isEdit" style="float: left;">编辑交付环境</h4>
</div>
<div class="modal-body promptbox" id="modal-body">
    <div class="form-group">
        <span>交付环境：</span>
        <select class="form-control" name="setting" ng-options="option.envName for option in $ctrl.settingOptions"
                ng-model="$ctrl.apply.envId"></select>
    </div>
    <div class="middle-line">应用信息</div>
    <div class="form-group">
        <span>应用类型：</span>
        <select class="form-control" name="setting"
                ng-options="$ctrl.serviceTypes[option] for option in $ctrl.serviceTypeOptions"
                ng-model="$ctrl.apply.serviceType"></select>
    </div>
    <div class="form-group">
        <span>应用域名：</span>
        <input type="text" ng-model="$ctrl.apply.serviceDomain" class="form-control">
    </div>
    <div class="form-group">
        <span>应用协议：</span>
        <select class="form-control" name="setting"
                ng-options="$ctrl.agreementOptionsName[option] for option in $ctrl.agreementOptions"
                ng-model="$ctrl.apply.serviceProtocol"></select>
    </div>
    <div class="form-group">
        <span>内部应用端口：</span>
        <input type="text" ng-model="$ctrl.apply.innerPort" class="form-control">
    </div>
    <div class="form-group">
        <span>外部应用端口：</span>
        <input type="text" ng-model="$ctrl.apply.outerPort" class="form-control">
    </div>
    <div class="middle-line">配置信息</div>
    <div class="form-group">
        <span>CPU：</span>
        <input-number style="display: inline-block;" value="$ctrl.apply.cpu" min="0.1" max="4" step="0.1"
                      on-change="$ctrl.onCpuChange($ctrl.apply.cpu)"></input-number>
        <!--<input type="text" ng-model="$ctrl.apply.cpu" class="form-control">-->
    </div>
    <div class="form-group">
        <span>内存(G)：</span>
        <input-number style="display: inline-block;" value="$ctrl.apply.mem" min="0.5" max="16" step="0.1"
                      on-change="$ctrl.onMemChange($ctrl.apply.mem)"></input-number>
        <!--<input type="text" ng-model="$ctrl.apply.mem" class="form-control">-->
    </div>
    <!--<div class="form-group">-->
        <!--<span>磁盘(G)：</span>-->
        <!--<input type="text" ng-model="$ctrl.apply.disk" class="form-control">-->
    <!--</div>-->
    <div class="form-group">
        <span>实例数：</span>
        <input-number style="display: inline-block;" value="$ctrl.apply.instanceNum" min="1" max="8"
                      step="1"></input-number>
        <!--<input type="text" ng-model="$ctrl.apply.instanceNum" class="form-control">-->
    </div>
    <a href="javascript:void(0);" ng-click="open = !open">高级选项</a>
    <uib-accordion class="setting-more">
        <div uib-accordion-group class="panel-default" is-open="open">
            <div class="">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="CD选项">
                        <div class="form-group" style="margin-top: 15px;">
                            <span>环境变量：</span>
                            <div style="margin: 15px 0 30px; padding-left: 161px;" class="form-inline"
                                 ng-repeat="item in $ctrl.apply.envVar">
                                <span>name：</span>
                                <input type="text" ng-model="item.name" class="form-control" style="width: 66px;margin-right: 12px;">
                                <span>value：</span>
                                <input type="text" ng-model="item.value" class="form-control" style="width: 66px;">
                                <div ng-click="$ctrl.addEnvParam($index)" style="top: 6px;display: inline-block;font-size: 24px;color: #3071a9;" class="glyphicon glyphicon-plus-sign"></div>
                                <div ng-click="$ctrl.removeEnvParam($index)" style="top: 6px;display: inline-block;font-size: 24px;color: red;" class="glyphicon glyphicon-minus-sign"></div>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 0;">
                            <span>启动命令：</span>
                            <div style="margin-left: 41%;display: inline-block;position: relative;top: -28px;margin-bottom: 12px;" ng-repeat="command in $ctrl.cmds">
                                <input type="text" style="width: 200px;display: inline;" ng-model="command.value" class="form-control">
                                <div ng-click="$ctrl.addCommand($index)" style="top: 6px;display: inline-block;font-size: 24px;color: #3071a9;" class="glyphicon glyphicon-plus-sign"></div>
                                <div ng-click="$ctrl.removeCommand($index)" style="top: 6px;display: inline-block;font-size: 24px;color: red;" class="glyphicon glyphicon-minus-sign"></div>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 0;">
                            <span>启动参数：</span>
                            <div style="margin-left: 41%;display: inline-block;position: relative;top: -28px;margin-bottom: 12px;" ng-repeat="arg in $ctrl.args">
                                <input type="text" style="width: 200px;display: inline;" ng-model="arg.value" class="form-control">
                                <div ng-click="$ctrl.addArgs($index)" style="top: 6px;display: inline-block;font-size: 24px;color: #3071a9;" class="glyphicon glyphicon-plus-sign"></div>
                                <div ng-click="$ctrl.removeArgs($index)" style="top: 6px;display: inline-block;font-size: 24px;color: red;" class="glyphicon glyphicon-minus-sign"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span>健康检查：</span>
                            <input type="text" ng-model="$ctrl.apply.healthcheck" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline" style="margin-left: 15%;" ng-repeat="label in $ctrl.labels">
                                <input type="checkbox" ng-model="label.defaultFlag">
                                <span>{{label.labelNameZh}}</span>
                            </label>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Pipeline Stage控制">
                        <div style="margin-left: 20%;">
                            <div class="form-group" style="margin-top: 12px;">
                                <label class="checkbox-inline"><input type="checkbox"
                                                                      ng-model="$ctrl.apply.stageCodescan">是否静态代码扫描</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" ng-model="$ctrl.apply.stageBuild">是否编译</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" ng-model="$ctrl.apply.stageUt">是否进行单元测试</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox"
                                                                      ng-model="$ctrl.apply.stageDocker">是否打包镜像</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox"
                                                                      ng-model="$ctrl.apply.stageDeploy">是否部署</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" ng-model="$ctrl.apply.stageAt">是否自动化测试</label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline"><input type="checkbox" ng-model="$ctrl.apply.stagePt">是否性能测试</label>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="自动测试选项">
                        <!--<div class="form-group" style="margin-top: 12px;">-->
                        <!--<span style="visibility: visible;">自测用例路径：</span>-->
                        <!--<input type="text" ng-model="$ctrl.apply.selfTestPath" class="form-control">-->
                        <!--</div>-->
                        <div class="form-group" style="margin-top: 24px;">
                            <span>语言选择：</span>
                            <!--<input type="text" ng-model="$ctrl.apply.language" class="form-control">-->
                            <select class="form-control" name="setting"
                                    ng-options="option for option in $ctrl.languageOptionsName"
                                    ng-model="$ctrl.apply.language"></select>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </uib-accordion>
</div>
<div class="modal-footer">
    <button type="button" style="width: 20%" class="btn bp-btn-primary" ng-click="$ctrl.ok($ctrl.apply)">提交</button>
</div>

