<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span><span
        class="sr-only">Close</span></button>
    <h4 style="float: left;">应用依赖详情</h4>

</div>
<div class="modal-body create-service-dep" id="modal-body">
    <!--<div class="form-group">-->
        <!--<span style="width: 100px;display: inline-block;">应用依赖名：</span>-->
        <!--<input type="text"  style="width: 400px; display: inline;" name="text2" ng-model="$ctrl.name" class="form-control" required>-->
    <!--</div>-->
    <div class="form-group">
        <span style="width: 100px;display: inline-block;">项目选择：</span>
        <select class="form-control" style="width: 400px; display: inline;">
            <option value="风控项目">风控项目</option>
            <option value="APP项目">APP项目</option>
            <option value="其他项目">其他项目</option>
        </select>
    </div>
    <bp-transfer
        source-data='$ctrl.dataSource'
        titles='$ctrl.transferOptions.titles'
        placeholders='$ctrl.transferOptions.placeholders'
        operations='$ctrl.transferOptions.operations'
        add-btn='$ctrl.transferOptions.addBtn'
        add-all-btn='$ctrl.transferOptions.addAllBtn'
        del-btn='$ctrl.transferOptions.delBtn'
        del-all-btn='$ctrl.transferOptions.delAllBtn'>
    </bp-transfer>
    <div class="form-group" style="position: absolute; top: 70px; right: 30px;">
        <div style="margin-bottom: 10px;">关系图：</div>
        <img style="width: 540px;" src="{{$ctrl.relaIcon}}"/>
    </div>
    <div style="clear: both;"></div>

    <div class="form-group">
        <span>备注：</span>
        <textarea ng-model="$ctrl.note" class="form-control"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" style="width: 20%" class="btn bp-btn-primary" ng-click="$ctrl.ok()">提交</button>
</div>

