<div class="panel panel-primary">
    <div class="page-title">
        <div class="title hi-title">
            <span class="hi-titleSpan"></span>
            <h1 class="hi-titleH1">历史日志</h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group" >
            <div class="col-md-2" style="padding-left: 0">
                <input type="text" class="form-control" placeholder="输入任务 ID">
            </div>
            <bp-button type="info" ng-click="vm.search()">搜索</bp-button>
        </div>
        <div >
            <table  class="table table-center table-hover table-bordered userborder Hi-shadow" ng-table="vm.tableParams" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}" >
                <thead class="table-bordered noresult">
                <tr>
                    <th> 编号</th>
					<th> 项目名</th>
					<th> 应用名</th>
					<th> 环境</th>
					<th> 日志内容</th>
					<th> 结果</th>
					<th> 任务ID</th>
					<th> 触发时间</th>
					<th> 结束时间</th>
                </tr>
            </thead>
            <tbody class="noresult Hi-trHover">
                <tr ng-repeat="row in $data track by $index">
		            <td title="{{row.id}}">{{row.id}}</td>
		            <td title="{{row.name}}">{{row.name}}</td>
		            <td title="{{row.seviceName}}">{{row.seviceName}}</td>
		            <td title="{{row.huanjing}">{{row.huanjing}}</td>
		            <td title="{{row.neirong}">{{row.neirong}}</td>
		            <td title="{{row.result}">{{row.result}}</td>
		            <td title="{{row.renwu}">{{row.renwu}}</td>
		            <td title="{{row.touch_time}">{{row.touch_time}}</td>
		            <td title="{{row.end_time}">{{row.end_time}}</td>
                </tr>
                <tr class="lx-list-sp-tr" ng-if="!$data || !$data.length">
                    <td colspan="11" style="text-align: center">
                        <div class="text-center" ng-show="vm.loading">
                            <i class="glyphicon glyphicon-refresh">数据加载中...</i>
                        </div>
                        <div class="text-center" ng-if="!vm.loading && (!$data || !$data.length)">
                            <i class="glyphicon glyphicon-remove"></i>您查询的条件错误或查询的结果不存在
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="recordCount">
            <span>共<span class="count">{{vm.total}}</span> 条记录</span>
        </div>
    </div>
</div>
